pip install streamlit
pip install transformers
pip install torch --index-url https://download.pytorch.org/whl/cpu
pip install langchain
pip install langchain-community
pip install pypdf
pip install faiss-cpu